main-color = white
secondary-color = black
secondary-color-offset = #555555

body
    background main-color
    color secondary-color
.flexCont
    display flex
    justify-content center
    
.button
    margin 30px
    padding 10px
    color main-color
    background-color secondary-color-offset
    border none
    &:active
        top 1